@{
    ViewData["Title"] = "Kakama ActivityPub Bot Framework";
    ViewData["Description"] = "Kakama ActivityPub Bot Framework";
    ViewData["keywords"] = "activity,bot,dotnet,pub,service";
}

@model HomeModel;

<h1>Kakama Service</h1>

<p>
    You reached the about page for Kakama, a framework for writing ActivityPub bots.
</p>
<p>
    This is mainly used for bots, so you won't see much in your browser.
    However, you can learn more about this service by checking the links below.
</p>

<ul>
    <li>
        <strong>Source Code: </strong>
        <a href="https://github.com/xforever1313/kakama" target="_blank" rel="noopener noreferrer nofollow">
            https://github.com/xforever1313/kakama
        </a>
    </li>
    <li>
        <strong>Software License: </strong>
        <a href="/license.html">AGPL-3.0</a>
    </li>
    <li>
        <a href="/credits.html">View service's third-party credits</a>
    </li>
    <li>
        <a href="/privacy.html">
            View Privacy Policy
        </a>
    </li>
    <li>
        <strong>Version: </strong>@Model.Version
    </li>
    <li>
        <strong>API Version: </strong>@Model.Api.Version
    </li>
</ul>
